.login-body {
  background: linear-gradient(to right, #74d680, #379683);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #379683;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #379683;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background: #28735c;
}

.signup {
  margin-top: 10px;
}
